extends templates/layout

block content 
    h1=pageTitle 
    form(method="POST")
        input(type="text", required, name="title",placeholder="Title")
        textarea(name="synopsis", cols="20", rows="2",placeholder="Synopsis")
        input(type="text",required,name="genres",placeholder="Genres")
        input(type="submit",value="Add Movie")