mixin video(info)
    div
        h4
            a(href=`/videos/${info.id}`)=info.title
        p=info.description
        ul
            each hash in info.hashtags
                li=hash
        small=info.createdAt 
        hr