extends base

block content
    form(method="POST")
        input(placeholder="Email",type="email", name="email", required)
        input(placeholder="Username",type="text", name="username", required)
        input(placeholder="Password",type="password", name="password", required)
        input(placeholder="Confirm Password",type="password", name="password2", required)
        input(placeholder="Name",type="text", name="name", required)
        input(placeholder="Location",type="location", name="location", required)
        input(type="submit", value="Join")
        small=errorMessage
        include partials/social-login
    div.auth-switch
        span Already have an account?
        br
        a(href="/login") Log in now &rarr;